.app-container {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  width: 840px;
  height: 651px;
  background-color: white;
  padding: 50px;
  border-radius: 0 0 300px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-card);
}

.date-entry {
  display: flex;
  justify-content: flex-start;
  height: 15%;
  width: 100%;
  gap: 20px;
  padding-bottom: 50px;
  border-bottom: 2px solid var(--color-background-card);
}

.date-entry-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 22%;
  gap: 10%;
}

.date-entry-wrapper > input {
  height: 80%;
  border-radius: 10px;
  padding: 10px;
  font-weight: 700;
  font-size: 32px;
  border: 2px solid grey;
}

.date-entry-wrapper > label {
  height: 20%;
  color: grey;
  font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.day-error {
  display: none;
  position: relative;
  left: -420px;
  top: -150px;
  max-width: 0;
  max-height: 0;
  white-space: nowrap;
  font-size: 25px;
  color: red;
}

.button-1-container {
  position: relative;
  right: -350px;
  top: -60px;
}

.button-1:hover {
  background-color: var(--color-button-default);
  cursor: pointer;
}

.button-1 {
  background-color: black;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------------------- OUTPUT ----------------------*/
.output-container {
  position: relative;
  top: -20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 80%;
  margin-top: 30px;
}

.output-row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.output-row-wrapper > p {
  font-size: 145px;
  font-weight: 700;
  font-style: italic;
}

.output-row-wrapper > p:first-child {
  color: var(--color-button-default);
  font-weight: 800;
}

/*---------------------- MEDIA QUERY ----------------------------- */

@media only screen and (max-width: 600px) {
  .app-container {
    width: 70%;
    height: 60%;
    border-radius: 30px;
    display: flex;
  }

  .date-entry {
    display: flex;
    justify-content: center;
    height: 15%;
    width: 100%;
    gap: 2%;
    margin-left: 15px;
    padding-bottom: 80px;
    border-bottom: 2px solid var(--color-background-card);
  }

  .date-entry-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 32%;
    gap: 10%;
  }

  .date-entry-wrapper > input {
    height: 80%;
    border-radius: 10px;
    padding: 10px;
    font-weight: 700;
    font-size: 24px;
    border: 2px solid grey;
  }

  .date-entry-wrapper > label {
    height: 20%;
    color: grey;
    font-weight: 600;
  }

  .button-1-container {
    position: relative;
    right: -0;
    top: -30px;
  }

  .button-1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .output-container {
    width: 100%;
    height: 80%;
    left: 9px;
    margin-top: 40%;
  }

  .output-row-wrapper > p {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 700;
    font-style: italic;
  }

  .output-row-wrapper > p:first-child {
    color: var(--color-button-default);
    font-weight: 800;
  }

  .day-error {
    display: none;
    position: relative;
    left: -130px;
    top: -120px;
    font-size: 20px;
    color: red;
  }
}
